14min video on decisiontree: https://www.youtube.com/watch?v=PHxYNGo8NcI

In [38]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn import tree

In [4]:
df = pd.read_csv('datasets/salaries.csv')
df

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [29]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree = LabelEncoder()

In [30]:
inputs = df[['company', 'job', 'degree']]
target = df[['salary_more_then_100k']]

In [33]:
inputs['company_n'] = le_company.fit_transform(inputs['company'])
inputs['job_n'] = le_job.fit_transform(inputs['job'])
inputs['degree_n'] = le_degree.fit_transform(inputs['degree'])

In [36]:
inputs_n = inputs.drop(['company', 'job', 'degree'], axis='columns')

In [37]:
inputs_n

    company_n  job_n  degree_n
0           2      2         0
1           2      2         1
2           2      0         0
3           2      0         1
4           2      1         0
5           2      1         1
6           0      2         1
7           0      1         0
8           0      0         0
9           0      0         1
10          1      2         0
11          1      2         1
12          1      0         0
13          1      0         1
14          1      1         0
15          1      1         1

In [39]:
model = tree.DecisionTreeClassifier()

In [40]:
model.fit(inputs_n, target)

DecisionTreeClassifier()

In [41]:
model.score(inputs_n, target)

1.0

In [43]:
model.predict([[2,2,1]])

array([0], dtype=int64)

In [44]:
model.predict([[2,0,1]])

array([1], dtype=int64)